# Here is the npmignore file.
# You can ignore files and folders in this file.

# For package-lock.json file.
package-lock.json

# For all jpg files
*.jpg


# For ignoring test folder
test/

# For ignoring vitest.config.js
vitest.config.js

# For ignoring test.test.js files
test.test.js

# For ignoring node_modules folder
node_modules/

# For ignoring .npmignore files
.npmignore

# For ignoring .git folder
.git/

# For ignoring .github folder
.github/

# For ignoring .gitignore file
.gitignore

# For ignoring .md files 
*.md

# For ignoring README.md
!README.md
